<nav class="navbar navbar-light bg-light"  style="box-shadow: #8f3ade 1px 1px 2px 0px;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">D3</span>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="chart">
        <app-chart1></app-chart1>
      </div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
    <div class="col-4">
      <div class="chart"></div>
    </div>
  </div>
</div>
